<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334013633258-5nknhvc3hgqlatcdj5tn7erh3chkpor0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334013633258-5nknhvc3hgqlatcdj5tn7erh3chkpor0</string>
	<key>API_KEY</key>
	<string>AIzaSyAI6Y1aciqdS5ZB448-CutgWBCr7JJTshw</string>
	<key>GCM_SENDER_ID</key>
	<string>334013633258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.postagecheck</string>
	<key>PROJECT_ID</key>
	<string>postagefee-65da3</string>
	<key>STORAGE_BUCKET</key>
	<string>postagefee-65da3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334013633258:ios:9f47b3f18229a34bb27d93</string>
</dict>
</plist>